
//// COLORS

// Primary/Secondary
$cres-blue: #0099FF; // Dodger Blue
$cres-dark-blue: #006BB3; // Dark Cyan
$cres-dark-gray: #333333; // Dark Slate Gray
$cres-light-gray: #D1D1D1; // Light Gray
$cres-white-smoke: #F8F8F8; // White Smoke


// Info, Success, Warn Errors

$cres-alert-info: #82848a; // Info - Gray
$cres-alert-success: #00a829; // Success - Green
$cres-alert-warn: #e3d800; // Warn - Yellow
$cres-arlert-error: #f44336; // Error - Red


